
 /* component App */

 .app{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  margin: 0 auto;

}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* component slider */

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
    /* para que no salga el popup */
    overflow-x: hidden;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 200px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 19px;
    background: #ddd;
    border-radius: 10px;
  
   
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

  /* component menu_top */
  .content_meutop{
    height: 10px;
    padding: 10px 0;
  }

  .content_menu_top{
    position: fixed;
    left: 0;
    width: 90%;
    z-index: 50;
    background-color: #fff;
    top: 0px;
    padding: 20px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;

    .icon_menu_top{
      position: relative;
      border: 1px solid ;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      .carrito{
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: #000;
        color: #fff;
        padding:2px 5px;
        border-radius: 50%;
        font-size: 10px;
      }
    }


  }

  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

 /* cart_slider */
 .cart_slider{
    position: relative;
    padding: 10px;
    text-align: start;


  div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;

    p{
      position: absolute;
      top: 30px;

    }

    button{
      background-color: #000;
      color: #fff;
      border-radius: 10px;
      width: 100px;
      padding: 5px 0;
      border: none;
    }

  }

  img{
    position: absolute;
    width: 230px;
    top: 20px;
    right: 0;
  }
 }
 /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
 /* menu mitad */

 .menu_mitad{
  padding: 0 10px;
  display: flex;
  gap: 60px;

  p:hover{
    border-bottom: 2px solid;
  }
 }
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* content_productos */

.content_productos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 6px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  /* products */

  .products{
    background-color: #ddd;
    padding:  10px;
    border-radius: 10px;
    width: 49%;
    height: 200px;
    box-sizing: border-box;
    position: relative;

    figure{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        position: relative;
        width: 150%;
        object-fit: contain;
      }

    }

    button{
      background-color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* popup */

.popup{
  background-color: #fff;
  position:fixed;
  /* right: -100%; */
  top: 56px;
  left: 0;
  z-index: 100;
  padding:0 20px;
  display: flex;
  align-items: start;
  height: 100%;
  width: 100%;
  transition: all 1s;


  .popup_size{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 100%;

    


    .size{

      border: 1px solid #aaa;
      padding: 10px;
      border-radius: 5px;
    }
    .precio{
      position: absolute;
      bottom:-60%;
      h2{
        font-size: 30px;
      }

      p{
        color: red;
      }
    }
  }

  
.popup_right{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  position: relative;
  top: 10%;
  

  .guardar{
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div{
      border: 1px solid;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .popup_colors{
    display: flex;
    flex-direction: column;
    gap: 10px;


    .azul{

      border: 1px solid;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
     

      div{
        width: 10px;
        height: 10px;
        background-color: blue;
        border-radius: 2px;

      }

    }

    .rojo{

      border: 1px solid;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      div{
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 2px;

      }

    }

    
  }

}


.popup_img{

  width: 70%;
  display: flex;
  justify-content: center;

  .nike{
    width: 50%;
    /* height: 300px; */

  }

  .zapato{
    top: 5%;
    left: -10%;
    position: absolute;
    width: 100%;
    rotate: -30deg;
  }



}


}

.content_popup{
  position: relative;

  .caja_nike{
    position: absolute;
    left: 20%;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;

    p{
      position: relative;
      top: 20px;
    }


    div{
      position: absolute;
      top: 60px;
      left: 45%;
      background-color: #000;
      color: #fff;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
    }


    img{
      width: 200px;
    }

    .cerar{
      background-color: #fff;
      color: #000;
      height: 20px;
      position: absolute;
      top: 130px;
      left: -70px;
    }


  }

}


.dark{
  background-color: #000;
  color: #fff;
}













.cell{
  display: none;
  margin: 200px auto;
  text-align: center;
}



  @media(width > 650px){
    .app{
      display: none;
      width: 70%;
      filter: hue-rotate();

    }

    .cell{
      display: block;

    }
  }